<div class="loggin">
  <% if current_user %>
    <h2>Hello <%= current_user.name %></h2>
    <%= button_to 'Logout', '/logout', method: :delete %>
  <% else %>
      <%= link_to 'Login', '/login' %>

  <% end %>
</div> 
  
